<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jubo.springboot01.system.mapper.AccountMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jubo.springboot01.system.bean.Account">
        <id column="id" property="id"/>
        <result column="login_name" property="loginName"/>
        <result column="password" property="password"/>
        <result column="nick_name" property="nickName"/>
        <result column="age" property="age"/>
        <result column="location" property="location"/>
        <result column="role" property="role"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, login_name, password, nick_name, age, location, role
    </sql>

    <select id="selectPageVo" resultType="com.jubo.springboot01.system.bean.Account">
        select * from account
    </select>

</mapper>
