<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jubo.springboot01.system.mapper.PermissionMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.jubo.springboot01.system.bean.Permission">
        <id column="id" property="id"/>
        <result column="uri" property="uri"/>
        <result column="name" property="name"/>
        <result column="c" property="c"/>
        <result column="r" property="r"/>
        <result column="u" property="u"/>
        <result column="d" property="d"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, uri, name, c, r, u, d
    </sql>

    <select id="selectPageVo" resultType="com.jubo.springboot01.system.bean.Permission">
        select * from permission
    </select>
</mapper>
